      <p class="blog-sidebar-header">Most Read Post</p>
      <div class="sidebar-box">

        <div class="most-read-header">
            <div class="most-read-image">
                <img class="author-blog" src="/content/images/2015/10/manish.jpg" alt="Manish Pillewar" nopin="nopin">
            </div>
            <div class="most-read-author">
	        <p class="grey-header">Manish Pillewar</p>
            </div>
            <div class="most-read-date">
	        <time class="grey-header" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time>
            </div>
        </div>

        <div class="most-read-content">
           <section class="">
              <h1 class="post-title"> <a href="http://52.10.44.41/2015/10/07/4-critical-factors-experience-design-xd-for-businesses-success/" >4 Critical factors: Experience Design(XD) for businesses success </a></h1>
<p>Looking to inject some innovation into your product lifecycle? You’ve developed “awesome” software that nobody uses? Limited by your tech stack? Need to understand your customer’s mind a bit better? Enter Experience Design (XD). No, it isn’t the panacea of all software development ills, but can surely help kickstart the process of customer-spection and disruptive thinking. Here are 4 factors by which ...
              <br/>
              <br/>
 <a href="http://52.10.44.41/2015/10/07/4-critical-factors-experience-design-xd-for-businesses-success/">Continue Reading ...</a>
              </p>
            </section>
        </div>
      </div>


      <p class="blog-sidebar-header">follow us on twitter</p>
      <div class="sidebar-box"> 

          <a class="twitter-timeline"  href="https://twitter.com/SahajSoftware" data-widget-id="656689007863042052">Tweets by @SahajSoftware</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
         
      </div>

      <p class="blog-sidebar-header">find us on facebook</p>
      <div class="sidebar-box"> 

<div class="fb-page" data-href="https://www.facebook.com/Sahajsoft" data-width="370" data-height="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/Sahajsoft"><a href="https://www.facebook.com/Sahajsoft">Sahaj Software Solutions Pvt Ltd</a></blockquote></div></div>

      </div>


